#VITE_ROLLUP_A_CHAIN_ID=77777
#VITE_ROLLUP_B_CHAIN_ID=88888
#VITE_HOODI_CHAIN_ID=560048
#VITE_ROLLUP_A_RPC_HTTP=["https://rollup-rpc-1.stage.ops.ssvlabsinternal.com"]
#VITE_ROLLUP_B_RPC_HTTP=["https://rollup-rpc-2.stage.ops.ssvlabsinternal.com"]
#VITE_HOODI_RPC_HTTP=["https://ethereum-hoodi-rpc.publicnode.com/d8a2cc6e7483872e917d7899f9403d738b001c80e37d66834f4e40e9efb54a27"]
#VITE_MAINNET_RPC_HTTP=["https://eth.llamarpc.com"]
#VITE_POLYGON_RPC_HTTP=["https://polygon-rpc.com"]
#VITE_ROLLUP_A_BLOCK_EXPLORER_URL=https://blockscout-rollup-1.stage.ops.ssvlabsinternal.com/
#VITE_ROLLUP_B_BLOCK_EXPLORER_URL=https://blockscout-rollup-2.stage.ops.ssvlabsinternal.com/

VITE_ROLLUP_A_CHAIN_ID=177777
VITE_ROLLUP_B_CHAIN_ID=188888
VITE_HOODI_CHAIN_ID=560000
VITE_ROLLUP_A_RPC_HTTP=["https://prod-rollup-a.example.com"]
VITE_ROLLUP_B_RPC_HTTP=["https://prod-rollup-b.example.com"]
VITE_HOODI_RPC_HTTP=["https://prod-hoodi.example.com"]
VITE_MAINNET_RPC_HTTP=["https://prod-mainnet.example.com"]
VITE_POLYGON_RPC_HTTP=["https://prod-polygon.example.com"]
VITE_ROLLUP_A_BLOCK_EXPLORER_URL=https://prod-rollup-a-explorer.example.com/
VITE_ROLLUP_B_BLOCK_EXPLORER_URL=https://prod-rollup-b-explorer.example.com/
VITE_PAYMASTER_URL=https://prod-rollup-b-explorer.example.com/
